body {                       
   background-color: #e4c3e4;  
   background-repeat: no-repeat; 
  /* posso usar localizacao da imagem assim ou escrita: background-position: 100% 10%; */  
  background-position: center center ;
  background-size: cover; 
  background-attachment: fixed; /*o fundo fica intacto e so se move o texto*/
}

h3 {
    color:#222222;
}

.fotinho{
  width: 200px;
  border-radius: 75%;
  border: 5px solid rgb(201, 153, 153);
  /*margin-top: 900px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;*/
  margin: 25px 50px 75px 100px;
  
}
